<footer class="footer">
  <small>
    The <a href="/">Estuary</a>
    by <a href="http://www.amazon.com/Alex-Bunardzic/e/B0067RPAX2/ref=sr_ntt_srch_lnk_1?qid=1426358253&sr=8-1">Alex Bunardzic</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com">News</a></li>
    </ul>
  </nav>
</footer>